<div class="row">
  <app-navbar></app-navbar>
</div>
<div class="row">
  <aside class="col-md-3">
    <nav class="sidebar-nav">
      <ul class="metismenu" id="menu1">
        <li>
          <a class="has-arrow" href="#">
            <span class="fa fa-fw fa-globe fa-lg"></span>
            Travel (admin)
          </a>
          <ul>
            <li>
              <a [routerLink]="[ '/admin/adminusers' ]">
                <span class="fa fa-fw fa-users"></span> users
              </a>
            </li>
            <li>
              <a [routerLink]="[ '/admin/createevents' ]">
                <span class="fa fa-fw fa-calendar"></span> events
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>