<p>
  Admin users
</p>
<table width="100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <!-- <div *ngFor="let datas of httpData;"> -->
  <tbody *ngFor="let datas of httpData;let i=index;">
    <tr *ngIf="datas.name !='SUPERADMIN'">
      <td>{{i+1}}</td>
      <td>{{datas.email}}</td>
      <td>{{datas.name}}</td>
      <td>
        <i (click)="editUser(datas)" class="fa fa-pencil icons-mar" aria-hidden="true"></i>
        <i (click)="deleteUser(datas)" class="fa fa-trash icons-mar" aria-hidden="true"></i>
      </td>
      <td>{{datas.created_at}}</td>
      <td>{{datas.updated_at}}</td>
    </tr>
  </tbody>
  <!-- </div> -->
</table>