<p>
  Update User Role
</p>
<div class="example-container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="col-md-12">
      <input class="form-control" readonly matInput formControlName="email" placeholder="Your email">
    </div>
    <br>
    <div class="col-md-12">
      <mat-select class="form-control" formControlName="role">
        <mat-option value="">Please select a role</mat-option>
        <mat-option *ngFor="let role of roles" [value]="role.value">{{role.view}}
        </mat-option>
      </mat-select>
    </div>
    <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="!myForm.valid">Update</button>
  </form>
</div>